/*@import "~antd/dist/antd.css";*/
@media (max-width: 50em) {
.searchBox{
display:grid;
grid-template-rows: 1fr 1fr;
    /*border:solid 1px red;*/
    width:fit-content;
    margin: 0 auto;
    padding-top: 1.5em;
    padding-bottom: 1em;
}
.searchLabel{
text-align: center;
  font-size: 2em;
  padding-bottom: 1em;
}

}