.button {
	background-color: var(--clr-1);
	height: 3em;
	width: 10em;
	border: none;
	font-size: 1em;
	border-radius: 5px;
}

.button:hover {
	background-color: var(--clr-5);
}

.mtButtonGrid {
	display: flex;
	justify-content: space-evenly;
}
