.background {
	background-color: var(--clr-bkgrd);
}

.buttons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 10px;
	margin-top: 3em;
	margin-bottom: 3em;
	background-color: var(--clr-bkgrd);
}
.one {
	grid-area: one;
}
.two {
	grid-area: two;
}

.three {
	grid-area: three;
}

.four {
	grid-area: four;
}

.five {
	grid-area: five;
}

.six {
	grid-area: six;
}
